# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
biz/target/
common/target/
dao/target/
facade/target/
share/src/test/
share/target/
web/target/
