<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.treefinance.saas.monitor.dao.mapper.MerchantStatAccessUpdateMapper">

  <!-- 手动添加插入或更新 -->
  <insert id="insertOrUpdateSelectiveTotal" parameterType="com.treefinance.saas.monitor.dao.entity.MerchantStatAccess">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant_stat_access
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        dataTime,
      </if>
      <if test="dataType != null">
        dataType,
      </if>
      <if test="appId != null">
        appId,
      </if>
      <if test="userCount != null">
        userCount,
      </if>
      <if test="totalCount != null">
        totalCount,
      </if>
      <if test="successCount != null">
        successCount,
      </if>
      <if test="failCount != null">
        failCount,
      </if>
      <if test="cancelCount != null">
        cancelCount,
      </if>
      <if test="successRate != null">
        successRate,
      </if>
      <if test="failRate != null">
        failRate,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=TINYINT},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null">
        #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="dataTime != null">
        dataTime = #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dataType != null">
        dataType = #{dataType,jdbcType=TINYINT},
      </if>
      <if test="appId != null">
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null">
        userCount = #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        totalCount = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        successCount = #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        failCount = #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        cancelCount = #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        successRate = #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        failRate = #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>



  <insert id="insertOrUpdateSelectiveBank" parameterType="com.treefinance.saas.monitor.dao.entity.MerchantStatBank">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant_stat_bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        dataTime,
      </if>
      <if test="appId != null">
        appId,
      </if>
      <if test="bankId != null">
        bankId,
      </if>
      <if test="userCount != null">
        userCount,
      </if>
      <if test="totalCount != null">
        totalCount,
      </if>
      <if test="successCount != null">
        successCount,
      </if>
      <if test="failCount != null">
        failCount,
      </if>
      <if test="cancelCount != null">
        cancelCount,
      </if>
      <if test="successRate != null">
        successRate,
      </if>
      <if test="failRate != null">
        failRate,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        #{bankId,jdbcType=SMALLINT},
      </if>
      <if test="userCount != null">
        #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dataTime != null">
        dataTime = #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="bankId != null">
        bankId = #{bankId,jdbcType=SMALLINT},
      </if>
      <if test="userCount != null">
        userCount = #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        totalCount = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        successCount = #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        failCount = #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        cancelCount = #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        successRate = #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        failRate = #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <insert id="insertOrUpdateSelectiveEcommerce" parameterType="com.treefinance.saas.monitor.dao.entity.MerchantStatEcommerce">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant_stat_ecommerce
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        dataTime,
      </if>
      <if test="appId != null">
        appId,
      </if>
      <if test="ecommerceId != null">
        ecommerceId,
      </if>
      <if test="userCount != null">
        userCount,
      </if>
      <if test="totalCount != null">
        totalCount,
      </if>
      <if test="successCount != null">
        successCount,
      </if>
      <if test="failCount != null">
        failCount,
      </if>
      <if test="cancelCount != null">
        cancelCount,
      </if>
      <if test="successRate != null">
        successRate,
      </if>
      <if test="failRate != null">
        failRate,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="ecommerceId != null">
        #{ecommerceId,jdbcType=SMALLINT},
      </if>
      <if test="userCount != null">
        #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">

      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dataTime != null">
        dataTime = #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="ecommerceId != null">
        ecommerceId = #{ecommerceId,jdbcType=SMALLINT},
      </if>
      <if test="userCount != null">
        userCount = #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        totalCount = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        successCount = #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        failCount = #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        cancelCount = #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        successRate = #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        failRate = #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <insert id="insertOrUpdateSelectiveMail" parameterType="com.treefinance.saas.monitor.dao.entity.MerchantStatMail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant_stat_mail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        dataTime,
      </if>
      <if test="appId != null">
        appId,
      </if>
      <if test="mailCode != null">
        mailCode,
      </if>
      <if test="userCount != null">
        userCount,
      </if>
      <if test="totalCount != null">
        totalCount,
      </if>
      <if test="successCount != null">
        successCount,
      </if>
      <if test="failCount != null">
        failCount,
      </if>
      <if test="cancelCount != null">
        cancelCount,
      </if>
      <if test="successRate != null">
        successRate,
      </if>
      <if test="failRate != null">
        failRate,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="mailCode != null">
        #{mailCode,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null">
        #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dataTime != null">
        dataTime = #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="mailCode != null">
        mailCode = #{mailCode,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null">
        userCount = #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        totalCount = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        successCount = #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        failCount = #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        cancelCount = #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        successRate = #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        failRate = #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>


  <insert id="insertOrUpdateSelectiveOperator" parameterType="com.treefinance.saas.monitor.dao.entity.MerchantStatOperator">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into merchant_stat_operator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        dataTime,
      </if>
      <if test="appId != null">
        appId,
      </if>
      <if test="operaterId != null">
        operaterId,
      </if>
      <if test="userCount != null">
        userCount,
      </if>
      <if test="totalCount != null">
        totalCount,
      </if>
      <if test="successCount != null">
        successCount,
      </if>
      <if test="failCount != null">
        failCount,
      </if>
      <if test="cancelCount != null">
        cancelCount,
      </if>
      <if test="successRate != null">
        successRate,
      </if>
      <if test="failRate != null">
        failRate,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dataTime != null">
        #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="operaterId != null">
        #{operaterId,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null">
        #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    ON DUPLICATE KEY UPDATE
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="dataTime != null">
        dataTime = #{dataTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null">
        appId = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="operaterId != null">
        operaterId = #{operaterId,jdbcType=VARCHAR},
      </if>
      <if test="userCount != null">
        userCount = #{userCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        totalCount = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="successCount != null">
        successCount = #{successCount,jdbcType=INTEGER},
      </if>
      <if test="failCount != null">
        failCount = #{failCount,jdbcType=INTEGER},
      </if>
      <if test="cancelCount != null">
        cancelCount = #{cancelCount,jdbcType=INTEGER},
      </if>
      <if test="successRate != null">
        successRate = #{successRate,jdbcType=DECIMAL},
      </if>
      <if test="failRate != null">
        failRate = #{failRate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        lastUpdateTime = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>